%li
  %img{id: 'ach-' + achievement.value.name, src: '/public/images/achievements/' + achievement.value.icon, alt: achievement.value.friendly_name + '\n\n' + achievement.value.desc, title: achievement.value.friendly_name + '\n\n' + achievement.value.desc}