[submodule "lib/express"]
	path = lib/express
	url = git://github.com/visionmedia/express.git
[submodule "lib/node-couch"]
	path = lib/node-couch
	url = git://github.com/sixtus/node-couch.git
[submodule "lib/node-promise"]
	path = lib/node-promise
	url = http://github.com/kriszyp/node-promise.git
