html
  :background #dedede 

+clearfix
  :display inline-block
  &:after
    :content "."
    :display block
    :height 0
    :clear both
    :visibility hidden
  * html &
    :height 1px

body
  :color: #333
  :font bold 14px "Helvetica Neue", Helvetica, Arial,sans-serif
  :margin-top 35px

a
  :color #333
  :outline none
  :text-decoration none

audio
  :display none
  :height 0
  :width 0

#wrapper
  :float left
  :margin-left 40px
  :width 90%

#logo
  :font-size 48px
  :font-weight bold
  :margin-bottom 25px
  =text-shadow rgba(255, 255, 255, 0.3) 0 1px 0
  :text-shadow rgba(255, 255, 255, 0.3) 0 1px 0
  a
    :color #000
  span
    :font-size 20px
    :margin-left -12px
    :vertical-align super

#songs
  :margin-bottom 35px
  :width 100%
  +clearfix
  li
    :height 115px
    :margin-bottom 1px
    .box
      :background-image -moz-linear-gradient(top, #f2f2f2, #9b9b9b)
      :background-image -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #9b9b9b))
      :filter  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2f2', EndColorStr='#9b9b9b')
      :-ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2f2', EndColorStr='#9b9b9b')"
      =box-shadow 0 5px 15px rgba(0, 0, 0, 0.4)
      :box-shadow 0 5px 15px rgba(0, 0, 0, 0.4)
      :display inline-block
      :float left
      :height 115px
      :margin-right 1px
      :-webkit-transition-property color
      :-webkit-transition-duration 0.25s
    .box:hover
      :background-image -moz-linear-gradient(top, #222222, #444444)
      :background-image -webkit-gradient(linear,left top,left bottom,color-stop(0, #222222),color-stop(1, #444444))
      :color #eee
      :filter progid:DXImageTransform.Microsoft.gradient(startColorStr='#222222', EndColorStr='#444444')
      :-ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorStr='#222222', EndColorStr='#444444')"
    .play_pause
      :width 95px
        span
          :background transparent url(/public/images/play_pause.png) no-repeat 0 0
          :display block
          :height 95px
          :text-indent -500em
          :margin 10px 0 0 0
        .pause
          :background-position -95px 0px
    .song
      :min-width 415px
      :padding 0 20px
      span
        :display block
      .title
        :font-size 30px
        :margin-top 10px
      .artist
        :opacity 0.75
      .album
        :opacity 0.5
    .votes
      :font-size 72px
      :margin-right 0
      :min-width 120px
      :padding 10px 15px
      :cursor default
      :opacity 1
      :text-align center
      =text-shadow rgba(255, 255, 255, 0.6) 0 1px 0
      :text-shadow rgba(255, 255, 255, 0.6) 0 1px 0
      :-webkit-transition-property opacity
      :-webkit-transition-duration .25s
      :height 95px !important
    .votes.updated
      :opacity 0
      :-webkit-transition-property opacity
      :-webkit-transition-duration .25s
    .voters
      :display block
      :clear both
      :width 100%
      :height 20px
      :overflow -webkit-marquee
      :overflow-style marquee-line
      :marquee-speed fast
      :marquee-direction reverse
      span
        :display inline
        :font-style italic
        :font-weight normal
        :font-size 11px
        :margin 0 5px

#winner
  audio.winner
    :display block
    :width 100%
    :height 28px
    :margin 20px 0 0 0
  .box
    :background-image -moz-linear-gradient(top, #f2f2f2, #9b9b9b)
    :background-image -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #9b9b9b))
    :filter  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2f2', EndColorStr='#9b9b9b')
    :-ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2f2', EndColorStr='#9b9b9b')"
    =box-shadow 0 5px 15px rgba(0, 0, 0, 0.4)
    :box-shadow 0 5px 15px rgba(0, 0, 0, 0.4)
    :display block
    :width 770px
    :margin 0 auto
    :-webkit-transition-property color
    :-webkit-transition-duration 0.25s
    :padding 20px
  .box:hover
    :background-image -moz-linear-gradient(top, #222222, #444444)
    :background-image -webkit-gradient(linear,left top,left bottom,color-stop(0, #222222),color-stop(1, #444444))
    :color #eee
    :filter progid:DXImageTransform.Microsoft.gradient(startColorStr='#222222', EndColorStr='#444444')
    :-ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorStr='#222222', EndColorStr='#444444')"
  span
    :display block
  .title
    :font-size 36px
  .artist
    :font-size 30px
  .album
    :font-size 24px
  .votes
    :margin 0 auto 50px auto
    span
    :font-size 36px
    

#footer
  :margin-bottom 35px
  p
    :text-align right
  #creators
    :font-size 13px
  #engine
    :font-size 11px